html, body, #root {
  height: 100%;

  padding: 0;
}

#root {
  display: flex;
  flex-direction: column;
}

.codicon {
  vertical-align: bottom;
}

.infobox {
  border: 1px solid;

  width: 100%;

  padding: 0.5em;

  box-sizing: border-box;
}

.infobox-warning {
  background: var(--vscode-inputValidation-warningBackground);
  color: var(--vscode-inputValidation-warningForeground);
  border-color: var(--vscode-inputValidation-warningBorder);
}

.infobox-error {
  background: var(--vscode-inputValidation-errorBackground);
  color: var(--vscode-inputValidation-errorForeground);
  border-color: var(--vscode-inputValidation-errorBorder);
}

.infobox-info {
  background: var(--vscode-inputValidation-infoBackground);
  color: var(--vscode-inputValidation-infoForeground);
  border-color: var(--vscode-inputValidation-infoBorder);
}

vscode-data-grid-cell vscode-text-field {
  width: 100%;
}

.data-grid-buttons-cell {
  display: flex;

  flex-direction: row;

  width: max-content;
  /*justify-content: flex-end;*/
}

.data-grid-unfocusable vscode-data-grid-cell:focus,
.data-grid-unfocusable vscode-data-grid-cell:active {
  border: 1px solid none;
  background: transparent;
}

.data-grid-unhoverable vscode-data-grid-row:hover {
  border: none;
  background: transparent;
}

.data-grid-buttons-hoverable vscode-button[appearance="icon"] {
  display: none;
}

.data-grid-buttons-hoverable:hover vscode-button[appearance="icon"] {
  display: inline-block;
}

.data-grid-variables-header-row {
  grid-template-columns: 3fr 2fr 1fr !important;
}

.data-grid-variables-row {
  grid-template-columns: 2fr 3fr 1fr !important;
}